# src
build
target

# debug
tests
test.db
test.html

# maid
.maid/cache
.maid/temp
.maid/server.toml

# environment variables
.env
.env.production

# backup
.bak

# bin
bin
todo.md
config.toml

# fleet
fleet.toml
.cargo